@model GerenciadorCondominios.BLL.Models.Aluguel

@{
    ViewData["Title"] = "Novo aluguel";
}

<div class="formulario">
    <div class="collection with-header">
        <form asp-action="Create">
            <div class="collection-header green darken-3">
                <h6 class="white-text">Novo aluguel</h6>
            </div>

            <div class="collection-item">
                <div asp-validation-summary="ModelOnly" class="red-text text-darken-4"></div>

                <div class="row">
                    <div class="input-field col s12">
                        <input asp-for="Valor" class="validate" id="valor" />
                        <label asp-for="Valor" id="valor"></label>
                        <span class="red-text text-darken-4" asp-validation-for="Valor"></span>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12">
                        <select asp-for="MesId" class="validate" asp-items="ViewBag.MesId" id="mes"></select>
                        <label asp-for="MesId" id="mes">Selecione o mes</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12">
                        <input asp-for="Ano" class="validate" id="ano" />
                        <label asp-for="Ano" id="ano"></label>
                        <span class="red-text text-darken-4" asp-validation-for="Ano"></span>
                    </div>
                </div>
            </div>

            <div class="collection-item">
                <button type="submit" class="btn-small green darken-3">Salvar</button> &emsp;
                <a asp-action="Index" asp-controller="Alugueis">Voltar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {    
    <script src="~/js/IniciarSelect.min.js"></script>
}