<div class="modal modal-fixed-footer" id="modal">
    <div class="modal-content">
        <h6>Exclusão de registros</h6>
        <p>Prosseguir com a exclusão de <text class="nome"></text> ?</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn-small red darken-4 btnExcluir">Sim</button>
        <button type="button" class="btn-small blue darken-4 modal-close">Não</button>
    </div>
</div>