<nav class="grey darken-3">
    <div class="nav-wrapper navbar-fixed">
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li class="nav-item"><a class="nav-link" asp-controller="Usuarios" asp-action="MinhasInformacoes">Minhas Informações</a></li>
            <li class="nav-item"><partial name="_Logout" /></li>
        </ul>
    </div>
</nav>